#bg-img {
    height: 750px;
    display: flex;
    margin-left: 4%;
    margin-top: 5%;
}

#sign-up {
    display: flex;
    margin-left: 25%;
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom:-1%;
}

form {
    width: 100%;
}

input[type=text], select, textarea {
    display: flex;
    width: 85%;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: 16px;
    border-radius: 50px;
    margin-left: 10%;
    font-size: 20px;
    text-indent: 50px;
    box-sizing: border-box;
}

input[type=password], select, textarea {
    display: flex;
    width: 85%;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: 16px;
    border-radius: 50px;
    margin-left: 10%;
    font-size: 20px;
    text-indent: 50px;
}

input[type=submit] {
    background-color: #0850f8;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 60px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 50px;
}

.input-icon {
    translate: 90px 85px; 
    font-size: 20px; 
    color: #555;
}

#submit-button:hover {
    opacity: 0.8;
}

#under-text {
    font-size: 20px;
    margin-left: 31%;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.social-media-links img{
    height: 70px;
    display: inline;
    margin-top: 3%;
    padding-left: 8%;
}

.social-media-links a:hover {
    opacity: 0.8;
}

#left-sm-link {
    margin-left: 7%;
}

.flexbox-container {
    display: flex;
    width: 98%;
    height: 920px;
    background-color: white;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flexbox-item {
    width: 35%;
    height: 850px;
    margin-top: 30px;
    margin-left: 30px;
}

.flex-form-container {
    display: flex;
}

.responsive-form {
    max-width: 1000px;
    padding: 20px;
}
